# Chapter02

## 2.1 데이터를 저장하는 공간 : 변수

In [3]:
weight = 78.2
print(weight)

78.2

## 2.2 변수의 내용은 언제든 바꿀 수 있다

In [4]:
weight = 78.2
weight = 76.9
weight

76.9

In [5]:
x = 100
y = 200
x, y

(100, 200)

In [6]:
x, y = 100, 200
result = x + y
result

300

## 2.4 변수에는 문자열도 저장할 수 있다

In [7]:
s1 = 'Hello World!'
s1

'Hello World!'

In [8]:
len(s1)

12

In [9]:
s1 = "Hello"
s2 = "World!"
s1 + s1

'HelloHello'

In [10]:
n1 = '100'
n2 = '200'
n1 + n2

'100200'

## LAB 2-1 신체 질량 지수를 파이썬으로 계산하기

In [11]:
height = 1.8
weight = 78.2
bmi = weight / height**2
bmi

24.1358024691358

## 2.5 변수를 사용해서 좋은 점이 뭘까

In [12]:
height = 1.89
weight = 78.2
bmi = weight / height**2
bmi

21.891884325746762

In [13]:
height = 1.80
weight = 72.8
bmi = weight / height**2
bmi

22.469135802469133

In [14]:
print(3.141592 * 10**2 * 20)

6283.184

In [15]:
pi = 3.141592
radius = 10
height = 20
volume_of_cylinder = pi * radius**2 * height
print(volume_of_cylinder)

6283.184

### 도전문제 2.1

In [16]:
height = 1.72
weight = 78.8
bmi = weight / height**2
bmi

26.636019469983776

## LAB 2-2 피자의 면적을 계산해보자

In [17]:
radius = 10
area = 3.14 * radius**2
print('피자 면적은', area)

피자 면적은 314.0

In [18]:
radius = 20
area = 3.14 * radius**2
print('피자 면적은', area)

피자 면적은 1256.0

### 도전문제 2.2

In [19]:
radius = 20
area = 3.14 * radius**2
print('피자 면적은', area)
print('파자 둘레는', 2*3.14*radius)

피자 면적은 1256.0
파자 둘레는 125.60000000000001

In [20]:
radius = 30
area = 3.14 * radius**2
print('피자 면적은', area)
print('파자 둘레는', 2*3.14*radius)

피자 면적은 2826.0
파자 둘레는 188.4

## LAB 2-3 터틀 그래픽으로 피자그리기

In [21]:
import turtle
t = turtle.Turtle()
t.shape('turtle')

radius = 100
t.circle(radius)

radius = 200
t.circle(radius)

### 도전문제 2.3

In [22]:
import turtle
t = turtle.Turtle()
t.shape('turtle')

radius = 50
t.circle(radius)
radius = 100
t.circle(radius)
radius = 200
t.circle(radius)

t.left(90)
radius = 50
t.circle(radius)
radius = 100
t.circle(radius)
radius = 200
t.circle(radius)

## LAB 2-4 복리 이자 계산하기

In [23]:
principal = 10000000
years = 5
interest_rate = 0.03
money = principal * (1.0 + interest_rate)**years

print('원금: ', principal)
print('이율: ', interest_rate)
print('기간: ', years)
print('수령금액: ', money)

원금:  10000000
이율:  0.03
기간:  5
수령금액:  11592740.743

### 도전문제 2.4

In [24]:
principal = 100000000
years = 5
interest_rate = 0.03
money = principal * (1.0 + interest_rate)**years

print('원금: ', principal)
print('이율: ', interest_rate)
print('기간: ', years)
print('수령금액: ', money)

원금:  100000000
이율:  0.03
기간:  5
수령금액:  115927407.43

## 2.6 자료형을 알아야 연산을 할 수 있다

In [25]:
x = 10
x

10

In [26]:
x = 3.14
x

3.14

## 2.7 변수의 자료형을 알려면 : type() 함수

In [27]:
weight = 78.2
type(weight)

float

In [28]:
salary = 250
type(salary)

int

In [31]:
name = '홍길동'
address = '부산시 광안해변로 1'
type(name)

str

In [32]:
type(address)

str

In [33]:
b = True
type(b)

bool

## 2.8 왜 자료형에 신경써야 할까 : 자료형과 연산

In [1]:
x = 10
y = 10
x + y

20

In [2]:
x = 'good'
y = 'morning'
x + y

'goodmorning'

In [3]:
'23' + '56'

'2356'

In [4]:
23 + 56

79

### 도전문제 2.5

In [5]:
# 1
x = 7
y = 6
x + y

13

In [6]:
# 2
x = '7'
y = '6'
x + y + x

'767'

In [7]:
# 3
x = '7'
y = '6'
x + y

'76'

In [8]:
# 4
x = 7
y = 6
x + y + x + y

26

## 2.9 컴퓨터 수치 표현의 한계, 그리고 컴퓨터의 한계

In [9]:
0.1 + 0.1 == 0.2

True

In [10]:
0.1 + 0.1 + 0.1 == 0.3

False

In [11]:
0.1 + 0.1 + 0.1

0.30000000000000004

In [12]:
10 ** 100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## 2.11 문자열을 만드는 방법

In [13]:
"Hello Python"

'Hello Python'

In [14]:
msg = "Hello"
msg

'Hello'

In [15]:
print(msg)

Hello

In [16]:
msg = "Hello'

SyntaxError: EOL while scanning string literal (<ipython-input-16-0b4ced172a88>, line 1)

In [17]:
msg = "Hello

SyntaxError: EOL while scanning string literal (<ipython-input-17-f35b3e510a22>, line 1)

## 2.12 왜 큰따옴표와 작은따옴표를 동시에 사용할까

In [18]:
msg = Hello

NameError: name 'Hello' is not defined

In [19]:
message = "철수가 "안녕"이라고 말했습니다."

SyntaxError: invalid syntax (<ipython-input-19-0e9bdc16fed4>, line 1)

In [20]:
message = '철수가 "안녕"이라고 말했습니다.'
message

'철수가 "안녕"이라고 말했습니다.'

In [21]:
print(message)

철수가 "안녕"이라고 말했습니다.

In [23]:
print('철수가 \'안녕\'이라고 말했습니다.')
print('안녕\n우리 다시 만나~~')
print('안녕\t우리 다시 만나~~')

철수가 '안녕'이라고 말했습니다.
안녕
우리 다시 만나~~
안녕	우리 다시 만나~~

## 2.13 왜 오류가 발생할까 : 자료형의 변환

In [24]:
100 + '원'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
str(100) + '원'

'100원'

In [26]:
str(100)

'100'

In [27]:
int("100")

100

In [28]:
str(3.14)

'3.14'

In [29]:
float("3.14")

3.14

## 2.14 사용자로부터 문자열 입력받기 : input() 함수

In [31]:
name = input("이름을 입력하시오: ")

이름을 입력하시오: 홍길동

In [32]:
name = input("이름을 입력하시오: ")
print(name, "씨, 안녕하세요?")
print("파이썬 프로그래밍의 세계에 오신 것을 환영합니다.")

이름을 입력하시오: 홍길동
홍길동 씨, 안녕하세요?
파이썬 프로그래밍의 세계에 오신 것을 환영합니다.

## 2.15 사용자로부터 정수 입력받기

In [33]:
x = int(input("첫 번째 정수를 입력하시오: "))
y = int(input("두 번째 정수를 입력하시오: "))
s = x + y
print(x, "과", y, "의 합은", s, "입니다.")

첫 번째 정수를 입력하시오: 300
두 번째 정수를 입력하시오: 400
300 과 400 의 합은 700 입니다.

### 도전문제 2.6

In [36]:
# 1
weight = int(input("체중을 입력하세요: "))
height = float(input("신장을 입력하세요: "))
bmi = weight / height**2
print(bmi)

체중을 입력하세요: 70
신장을 입력하세요: 1.8
21.604938271604937

In [39]:
# 2
a = int(input())
b = int(input())
print("두 수의 합:",a+b)
print("두 수의 평균:", (a+b)/2)

5
6
두 수의 합: 11
두 수의 평균: 5.5

In [40]:
# 3
a = int(input())
b = int(input())
c = int(input())
print('세 수의 합:', a+b+c)
print('세 수의 평균:', (a+b+c)/3)

7
8
9
세 수의 합: 24
세 수의 평균: 8.0

## LAB 2-5 로봇 기자가 야구기사를 쓰다

In [42]:
stadium = input("경기장은 어디입니까? ")
winner = input("이긴 팀은 어디입니까? ")
loser = input("진 팀은 어디입니까? ")
vip = input("우수선수는 누구입니까? ")
score = input("스코어는 몇대몇입니까? ")

print("")
print("=============================================")
print("오늘", stadium, "에서 야구 경기가 열렸습니다.")
print(winner, "과", loser, "은 치열한 공방전을 펼쳤습니다.")
print(vip, "의 맹활양으로 ", winner, "가", loser, "를 ", score, "로 이겼습니다.")
print("=============================================")

경기장은 어디입니까? 강른
이긴 팀은 어디입니까? 드림즈
진 팀은 어디입니까? 비룡스
우수선수는 누구입니까? 강두기
스코어는 몇대몇입니까? 9:7

=============================================
오늘 강른 에서 야구 경기가 열렸습니다.
드림즈 과 비룡스 은 치열한 공방전을 펼쳤습니다.
강두기 의 맹활양으로  드림즈 가 비룡스 를  9:7 로 이겼습니다.
=============================================

## LAB 2-6 부동산 광고 만들기에 도전하자

In [45]:
street = "서울시 종로구"
st = "아파트"
number_of_rooms = 3
price = 100000000

print("##############################")
print("#                            #")
print("# 부동산 매물 광고           #")
print("#                            #")
print("##############################")
print("")
print(street, "에 위치한 아주 좋은 ", st, "가 매울로 나왔습니다. 이", st, "는 ", number_of_rooms, "개의 방을 가지고 있으며 가격은", price, "입니다.")

##############################
#                            #
# 부동산 매물 광고           #
#                            #
##############################

서울시 종로구 에 위치한 아주 좋은  아파트 가 매울로 나왔습니다. 이 아파트 는  3 개의 방을 가지고 있으며 가격은 100000000 입니다.

# 심화문제

In [47]:
# 2.1
print(100, '+', 200, '=', 100+200)
print(200, '+', 300, '+', 400, '=', 200+300+400)

100 + 200 = 300
200 + 300 + 400 = 900

In [48]:
# 2.2
width = 30
height = 60
print(width)
print(height)

30
60

In [49]:
# 2.3
width, height = 30, 60
print(width)
print(height)

30
60

In [51]:
# 2.4
width, height = 40, 20
print("삼각형의 면적 :", width*height*0.5)

삼각형의 면적 : 400.0

In [53]:
# 2.5
a = int(input("정사각형의 밑변을 입력하시오 : "))
print("정사각형의 면적 :", a*a)

정사각형의 밑변을 입력하시오 : 40
정사각형의 면적 : 1600

In [55]:
# 2.6
print("1에서 10까지의 합 :", 1+2+3+4+5+6+7+8+9+10)

1에서 10까지의 합 : 55

In [56]:
# 2.7
print("10! =", 1*2*3*4*5*6*7*8*9*10)

10! = 3628800

In [70]:
# 2.8
celsius = [0, 10, 20, 30, 40, 50]
print("섭씨", "화씨")
for i in celsius:
    fahrenheit = (9/5) * i + 32
    print(i, fahrenheit)

섭씨 화씨
0 32.0
10 50.0
20 68.0
30 86.0
40 104.0
50 122.0

In [71]:
# 2.9
a = int(input("섭씨온도를 입력하세요 : "))
fahrenheit = (9/5) * a + 32
print("섭씨", a, "도는 화씨", fahrenheit, "도 입니다.")

섭씨온도를 입력하세요 : 30
섭씨 30 도는 화씨 86.0 도 입니다.

In [72]:
# 2.10
a = int(input("원의 반지름을 입력하세요 : "))
pi = 3.141592
print("원의 둘레 =", 2*pi*a, ", 원의 면적 =", pi*a*a)

원의 반지름을 입력하세요 : 11
원의 둘레 = 69.115024 , 원의 면적 = 380.13263200000006

In [78]:
# 2.11
print("It's really hot!")
print('I said "Hello!" to him.')
print('He said "What''s there?"')
print("Newline character if \\n, Tab character if \\t")
print("Working directory is C:\\workspace\\mywork.")

It's really hot!
I said "Hello!" to him.
He said "Whats there?"
Newline character if \n, Tab character if \t
Working directory is C:\workspace\mywork.