# Chapter12_심화문제

## 12.1

(1)

In [2]:
import pandas as pd
weather = pd.read_csv(r'c:\kdt\weather.csv', index_col=0, encoding='cp949')

In [7]:
weather.head(3)

            평균기온  최대풍속  평균풍속
일시
2010-08-01  28.7   8.3   3.4
2010-08-02  25.2   8.7   3.8
2010-08-03  22.1   6.3   2.9

In [4]:
weather.tail(3)

            평균기온  최대풍속  평균풍속
일시
2020-07-29  21.6   3.2   1.0
2020-07-30  22.9   9.7   2.4
2020-07-31  25.7   4.8   2.5

(2)

In [26]:
weather.loc['2015-06-06']

평균기온    16.6
최대풍속     4.4
평균풍속     1.9
Name: 2015-06-06, dtype: float64

(3)

In [24]:
weather['평균기온'].max()

31.3

(4)

In [23]:
weather[weather['평균기온'] == weather['평균기온'].max()]

            평균기온  최대풍속  평균풍속
일시
2013-08-08  31.3   7.8   4.6

(5)

In [25]:
weather[weather['평균기온'] >= 30.0]

            평균기온  최대풍속  평균풍속
일시
2013-08-08  31.3   7.8   4.6
2013-08-09  30.6   9.9   6.4
2013-08-10  30.6   7.4   3.8
2018-07-23  30.5   6.5   1.6
2018-08-04  30.3   5.8   3.0

## 12.2

In [9]:
import pandas as pd

df = pd.DataFrame({'name' : ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
                  'horse power' : [130, 250, 190, 300, 210, 220, 170],
                  'weight' : [1.9, 2.6, 2.2, 2.9, 2.4, 2.3, 2.2],
                  'efficiency' : [16.3, 10.2, 11.1, 7.1, 12.1, 13.2, 14.2]})
print(df)

  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2

(1)

In [11]:
df = df.set_index(keys=['name'])
print(df)

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

(2)

In [4]:
df[df['horse power'] == df['horse power'].max()]

      horse power  weight  efficiency
name
D             300     2.9         7.1

(3)

In [12]:
df['hp * mile'] = df['horse power'] * df['efficiency']
print(df)

  name  horse power  weight  efficiency  hp * mile
0    A          130     1.9        16.3     2119.0
1    B          250     2.6        10.2     2550.0
2    C          190     2.2        11.1     2109.0
3    D          300     2.9         7.1     2130.0
4    E          210     2.4        12.1     2541.0
5    F          220     2.3        13.2     2904.0
6    G          170     2.2        14.2     2414.0

In [13]:
df[df['hp * mile'] == df['hp * mile'].max()]

  name  horse power  weight  efficiency  hp * mile
5    F          220     2.3        13.2     2904.0

## 12.3

In [12]:
import pandas as pd

df2 = pd.DataFrame({'name' : ['A', 'B', 'C', 'D'],
                  'horse power' : [120, 220, 120, 200],
                  'weight' : [1.9, 2.1, 1.5, 2.9],
                  'efficiency' : [18.3, 19.2, 21.1, 17.3]})
print(df2)

  name  horse power  weight  efficiency
0    A          120     1.9        18.3
1    B          220     2.1        19.2
2    C          120     1.5        21.1
3    D          200     2.9        17.3

(1)

In [13]:
df2 = df2.set_index(keys=['name'])
print(df2)

      horse power  weight  efficiency
name
A             120     1.9        18.3
B             220     2.1        19.2
C             120     1.5        21.1
D             200     2.9        17.3

(2)

In [14]:
df3 = pd.concat([df, df2])
print(df3)

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2
A             120     1.9        18.3
B             220     2.1        19.2
C             120     1.5        21.1
D             200     2.9        17.3

(3)

In [15]:
df['com'] = 'P'
df2['com'] = 'Q'

df3 = pd.concat([df, df2])
print(df3)

      horse power  weight  efficiency com
name
A             130     1.9        16.3   P
B             250     2.6        10.2   P
C             190     2.2        11.1   P
D             300     2.9         7.1   P
E             210     2.4        12.1   P
F             220     2.3        13.2   P
G             170     2.2        14.2   P
A             120     1.9        18.3   Q
B             220     2.1        19.2   Q
C             120     1.5        21.1   Q
D             200     2.9        17.3   Q

(4)

In [18]:
df3['hp * mile'] = df3['horse power'] * df3['efficiency']
print(df3)

      horse power  weight  efficiency com  hp * mile
name
A             130     1.9        16.3   P     2119.0
B             250     2.6        10.2   P     2550.0
C             190     2.2        11.1   P     2109.0
D             300     2.9         7.1   P     2130.0
E             210     2.4        12.1   P     2541.0
F             220     2.3        13.2   P     2904.0
G             170     2.2        14.2   P     2414.0
A             120     1.9        18.3   Q     2196.0
B             220     2.1        19.2   Q     4224.0
C             120     1.5        21.1   Q     2532.0
D             200     2.9        17.3   Q     3460.0

In [24]:
means = df3.groupby('com').mean()
print(means['hp * mile'])

com
P    2395.285714
Q    3103.000000
Name: hp * mile, dtype: float64