# Chapter07

## 7.1 리스트는 무엇이고 왜 필요한가

파이썬에서는 여러 가지 종류의 데이터를 메모리 안의 변수로 저장할 수 있다. 파이썬에서는 리스트와 딕셔너리를 이용하여 여러 개의 데이터를 한꺼번에 저장하고 처리할 수 있다.

In [1]:
height = 178.9

In [4]:
height1 = 178.9
height2 = 173.5
height3 = 166.1
height4 = 164.3
height5 = 176.4

수집한 데이터를 저장하기 위하여 변수를 하나씩 만들어주는 일은 번거롭다. 이럴 때는 리스트(list)를 만들고 여기에 데이터를 저장하면 된다. 파이썬에서 리스트는 대괄호를 이용해서 만들 수 있다.

In [3]:
heights = [178.9, 173.5, 166.1, 164.3, 176.4]
heights

[178.9, 173.5, 166.1, 164.3, 176.4]

리스트 안에 저장된 각각의 데이터를 항목 또는 요소라고 한다. 각 항목들은 순서대로 나열되어 있고, 항목마다 몇 번째인지 번호로 관리 할 수 있다. 파이썬의 리스트는 시작과 끝을 표시하기 위하여 대괄호를 사용한다. 내부의 항목을 분리하기 위하여 쉼표(,)를 사용한다.

## 7.2 여러 개의 항목이 들어가는 리스트를 만들자

파이썬에서 리스트는 다른 변수처럼 생성할 수 있다. 항목들을 [] 안에 적어주고 변수에 저장하면 리스트 변수가 생성된다.

In [6]:
bts = ['V', 'Jungkook', 'Jimin']

항목이 없는 공백 리스트에는 코드로 항목을 추가할 수 있다. 리스트에 항목을 새로 추가하려면 append(항목) 메소드를 사용한다.

In [7]:
bts = []
bts.append("V")
bts

['V']

In [8]:
bts.append("Jin")
bts.append("Suga")
bts

['V', 'Jin', 'Suga']

리스트에 항목을 추가하려면 리스트가 먼저 생성되어 있어야 한다. 리스트에 요소를 추가하는 매우 간편한 방법은 + 연산자를 이용하는 것이다.

In [9]:
bts = ['V', 'Jin', 'Suga', 'Jungkook']
bts = bts + ['RM']
bts

['V', 'Jin', 'Suga', 'Jungkook', 'RM']

연속된 정수 리스트는 range() 함수를 사용하여 쉽게 생성할 수 있다. range(시작값, 종료값, 스텝값)을 인자로 가질 수 있으며 시작값과 스텝값은 생략 가능하다.

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [13]:
list(range(0, 5, 1))

[0, 1, 2, 3, 4]

In [14]:
list(range(0, 5, 2))

[0, 2, 4]

In [16]:
list(range(2, 5))

[2, 3, 4]

## 7.3 리스트 연산을 해보자

파이썬에서는 리스트에 대해서도 다양한 연산이 가능하다.

In [17]:
bts = ['V', 'J-Hope'] + ['RM', 'Jungkook', 'Jin']
bts

['V', 'J-Hope', 'RM', 'Jungkook', 'Jin']

문자열이 저장된 리스트들을 더하면 2개의 리스트가 합쳐지는 것을 확인 할 수 있다. 문자열 리스트 뿐만 아니라 정수 리스트를 서로 더해도 리스트는 합쳐진다.

In [18]:
numbers = [10, 20, 30] + [40, 50, 60]
numbers

[10, 20, 30, 40, 50, 60]

정수 리스트를 서로 더했을 때는 대응되는 원소끼리 더해지는 것이 아니라 리스트가 합쳐진다. 원소끼리 더하려면 Numpy를 사용해야 한다. 리스트에 n을 곱하면 리스트가 n번 반복된다.

In [19]:
mystery = [0, 1, 2] * 3
mystery

[0, 1, 2, 0, 1, 2, 0, 1, 2]

리스트에 어떤 값이 포함되는 지를 알려면 in 연산자를 사용한다. 반대의 역할을 하는 연산자는 not in 연산자이다.

In [20]:
bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']
'V' in bts

True

In [21]:
'V' not in bts

False

### 도전문제 7.1

In [22]:
black_pink = ['Jennie', 'Rose', 'Jisoo', 'Risa']
'Jennie' in black_pink

True

In [23]:
'Psy' in black_pink

False

## LAB 7-1 입력을 받아 맛있는 과일의 리스트를 만들어 보자

In [25]:
fruits = []
for i in range(3):
    a = input("좋아하는 과일 이름을 입력하시오: ")
    fruits.append(a)
    
b = input("과일의 이름을 입력하세요 : ")
if b in fruits:
    print("이 과일은 당신이 좋아하는 과일입니다.")
else:
    print("이 과일은 당신이 좋아하는 과일이 아닙니다.")

좋아하는 과일 이름을 입력하시오: 사과
좋아하는 과일 이름을 입력하시오: 키위
좋아하는 과일 이름을 입력하시오: 바나나
과일의 이름을 입력하세요 : 바나나
이 과일은 당신이 좋아하는 과일입니다.

In [26]:
fruits = []

name = input("좋아하는 과일 이름을 입력하시오: ")
fruits.append(name)
name = input("좋아하는 과일 이름을 입력하시오: ")
fruits.append(name)
name = input("좋아하는 과일 이름을 입력하시오: ")
fruits.append(name)
    
name = input("과일의 이름을 입력하세요 : ")
if name in fruits:
    print("이 과일은 당신이 좋아하는 과일입니다.")
else:
    print("이 과일은 당신이 좋아하는 과일이 아닙니다.")

좋아하는 과일 이름을 입력하시오: 사과
좋아하는 과일 이름을 입력하시오: 바나나
좋아하는 과일 이름을 입력하시오: 키위
과일의 이름을 입력하세요 : 딸기
이 과일은 당신이 좋아하는 과일이 아닙니다.

## 7.4 리스트에 사용 가능한 함수를 알아보자

하나의 리스트 안에 여러 가지 타입의 데이터를 섞어서 저장하는 것도 가능하다.

In [27]:
slist1 = ['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]
slist1

['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]

그러나 위의 방법 보다는 리스트를 리스트 안에 포함시키는 것이 더 나을 것이다.

In [29]:
slist1[0], slist1[2], slist1[4]

('Kim', 'Park', 'Lee')

In [30]:
slist2 = [['Kim', 178.9], ['Park', 173.5], ['Lee', 176.1]]
slist2

[['Kim', 178.9], ['Park', 173.5], ['Lee', 176.1]]

In [31]:
type(slist1)

list

In [32]:
type(slist2)

list

리스트에 수치값이 있을 경우 len(), max(), min(), sum(), any() 등의 내장함수를 사용하여 편리하게 활용할 수 있다.

- len() : 리스트의 길이를 반환
- max() : 리스트 항목 중 최댓값을 반환
- min() : 리스트 항목 중 최솟값을 반환
- sum() : 리스트 항목의 합을 반환
- any() : 리스트에 0이 아닌 원소가 하나라도 있을 경우 True를 반환하고, 0과 ''는 any() 함수가 False를 반환한다.

In [33]:
n_list = [200, 700, 500, 300, 400]
len(n_list)

5

In [34]:
max(n_list)

700

In [35]:
min(n_list)

200

In [36]:
sum(n_list)

2100

In [37]:
sum(n_list)/len(n_list)

420.0

In [38]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
a_list = [0, ''] # 임의의 리스트를 생성
any(n_list) # n_list에 0이 아닌 원소가 하나라도 있는가 -> O

True

In [41]:
any(a_list) # n_list에 0이 아닌 원소가 하나라도 있는가 -> X

False

## LAB 7-2 리스트에 도시의 인구를 저장해보자

In [1]:
Seoul = 9765
Busan = 3441
Incheon = 2954
city_pop = [Seoul, Busan, Incheon]
print(city_pop)

[9765, 3441, 2954]

In [46]:
Daejeon = 1531
city_pop.append(Daejeon)

print(city_pop)
print("최대 인구 :", max(city_pop))
print("최소 인구 :", min(city_pop))
print("평균 인구 :", sum(city_pop)/len(city_pop))

[9765, 3441, 2954, 1531]
최대 인구 : 9765
최소 인구 : 1531
평균 인구 : 4422.75

In [2]:
Seoul = 9765
Busan = 3441
Incheon = 2954
city_pop = [Seoul, Busan, Incheon]
print(city_pop)

Daejeon = 1531
city_pop.append(Daejeon)

max_pop = 0
min_pop = 9999999999
pop_sum = 0
n = 0

for pop in city_pop:
    if pop > max_pop:
        max_pop = pop
    if pop < min_pop:
        min_pop = pop
    pop_sum += pop
    n += 1
    
print("최대 인구 :", max_pop)
print("최소 인구 :", min_pop)
print("평균 인구 :", pop_sum/n)

최대 인구 : 9765
최소 인구 : 1531
평균 인구 : 4422.75

## 7.5 인덱스를 사용하여 리스트의 항목에 접근하자

In [56]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']

리스트에서 데이터를 추출하려면 인덱스라는 정수를 사용한다. 인덱스란 리스트에서의 항목의 번호라고 생각하면 된다. 리스트의 인덱스는 0부터 시작한다.

In [57]:
letters[0]

'A'

In [59]:
letters[1]

'B'

In [60]:
letters[2]

'C'

음수는 리스트의 맨 끝에 있는 데이터를 얻고자 할 때 유용하다.

In [61]:
letters[-1]

'F'

파이썬의 len(), min(), max()와 같은 함수를 리스트에 적용하면 리스트의 길이와 함께 리스트 원소들 중에서 최솟값을 갖는 원소를 찾거나 최댓값을 갖는 원소를 찾을 수 있다.

In [64]:
bts = ['V', 'RM', 'Jungkook', 'J-Hope', 'Suga', 'Jin', 'Jimin']
len(bts)

7

In [65]:
bts[len(bts)-1]

'Jimin'

In [66]:
bts[-1]

'Jimin'

In [67]:
min(bts) # 리스트 원소 중 가장 작은 값을 찾는다(문자열은 사전식 순서)

'J-Hope'

In [ ]:
max(bts) # 리스트 원소 중 가장 큰 값을 찾는다(문자열은 사전식 순서)

## 7.6 리스트를 원하는 모양으로 자르는 슬라이싱

리스트에서 여러 요소를 선택해서 새로운 리스트를 만들고 싶다면 슬라이싱을 사용할 수 있다.

In [71]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
letters[2:5]

['C', 'D', 'E']

리스트를 슬라이싱하면 원래의 리스트는 손상되지 않으며, 새로운 리스트가 생성되어서 반환된다. 즉 슬라이스는 원래의 부분 복사본이다. 첫 번째 인덱스를 생략하면 무조건 리스트의 처음부터라고 가정한다.

In [73]:
letters[:3]

['A', 'B', 'C']

두 번째 인덱스가 생략되면 리스트의 끝까지라고 가정한다.

In [74]:
letters[3:]

['D', 'E', 'F']

콜론(:)만 있으면 리스트의 처음부터 끝까지라고 생각한다.

In [75]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F']

스텝값을 세 번째 원소로 넣어 step만큼 건너뛰며 원소르 추출할 수도 있다.

In [76]:
letters[::2] # 전체를 2만큼 건너뛰며 원소를 추출

['A', 'C', 'E']

In [77]:
letters[::-1] # 전체를 뒤에서부터 앞으로 읽어오며 원소를 생성한다

['F', 'E', 'D', 'C', 'B', 'A']

### 도전문제 7.2

In [78]:
# 1
numbers = [4, 5, 6, 7, 8, 9]
numbers[2]

6

In [79]:
# 2
numbers[1:3]

[5, 6]

In [81]:
# 3
numbers[:3]

[4, 5, 6]

In [82]:
# 4
numbers[1::2]

[5, 7, 9]

## LAB 7-3 도시의 인구 자료에 대한 슬라이싱을 해보자

In [83]:
population = ['Seoul', 9765, 'Busan', 3441, 'Incheon', 2954]

In [91]:
# 1
print("서울 인구 :", population[1])

서울 인구 : 9765

In [92]:
# 2
print("인천 인구 :", population[-1])

인천 인구 : 2954

In [93]:
# 3
print("도시 리시트 :", population[::2])

도시 리시트 : ['Seoul', 'Busan', 'Incheon']

In [95]:
# 4
print("인구의 합 :", sum(population[1::2]))

인구의 합 : 16160

### 도전문제 7.3

In [96]:
# 1
s = "Python is strong"
s[0]

'P'

In [97]:
# 2
s[-6:]

'strong'

In [98]:
# 3
s[:6]

'Python'

In [100]:
# 4
s[7:9]

'is'

## 7.7 리스트의 원소 값을 자유롭게 조작해 보자

리스트의 요소들을 변경할 수 있다. 원하는 요소를 인덱스를 이용하여 지정한 후에 할당연산자로 새 값을 할당하면 된다.

In [106]:
slist = ['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]

In [107]:
slist[3] = 175.0 # slist[3]을 수정함
slist

['Kim', 178.9, 'Park', 175.0, 'Lee', 176.1]

리스트의 슬라이싱을 사용하여 한 번에 여러 원소의 값을 변경할 수도 있다.

In [108]:
slist[2:4] = ['Paik', 180.0] # 한번에 여러개도 수정 가능함
slist

['Kim', 178.9, 'Paik', 180.0, 'Lee', 176.1]

함수를 사용하여 항목을 추가하려면 append()나 insert() 함수를 사용할 수 있다.

- append() : 리스트의 뒤쪽에 항목 추가
- insert(index, item) : 지정된 인덱스 위치에 항목 추가

In [109]:
# 함수를 사용하여 동적으로 항목을 추가하려면 append(), insert() 함수를 사용함
slist.insert(4, "Hong") # slist[4] 위치에 내용을 추가함
slist.insert(5, 168.1) # slist[5] 위치에 나용을 추가함
slist

['Kim', 178.9, 'Paik', 180.0, 'Hong', 168.1, 'Lee', 176.1]

- index(x) : 원소 x를 이용하여 위치를 찾는 기능
- append(x) : 원소 x를 리스트의 끝에 추가
- count(x) : 리스트 내에서 x원소의 개수를 반환
- extend([x1, x2]) : [x1, x2] 리스트를 기존 리스트에 삽입
- insert(index, item) : 원하는 index 위치에 x를 추가
- remove(x) : x 원소를 리스트에서 삭제
- pop(index) : index 위치의 원소를 삭제 한 후 반환
- sort() : 값을 오름차순 순서대로 정렬
- reverse() : 리스트를 원래 원소들의 역순으로 반환

## 7.8 항목을 삭제하는 방법을 여러가지가 있다

리스트의 항목을 삭제하는 것도 가능하다. 삭제를 위해서는 remove(), pop() 메소드 그리고 del 명령을 사용할 수 있다.

- remove() : 리스트에서 지정된 항목을 삭제

In [110]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
bts.remove("Jungkook") # 해당 항목을 제거함
bts

['V', 'J-Hope', 'Suga']

remove()를 사용할 때는 삭제하고자 하는 항목의 위치를 알 필요가 없다. in 연산자를 사용하면 항목이 리스트 안에 있는지를 알 수 있다.

In [112]:
if 'Suga' in bts:
    bts.remove("Suga")
bts

['V', 'J-Hope']

pop()도 리스트에서 항목을 삭제하는 역할을 하는데 remove()와는 달리 리스트의 마지막 항목을 삭제하여 그 항목을 반환한다.

In [114]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
last_member = bts.pop()
last_member # 마지막에 있는 항목을 보여주고 제거함
bts

['V', 'J-Hope', 'Suga']

del 명령어는 리스트의 메소드가 아니므로 주의해야 한다. 이 명령어는 파이썬의 키워드인데 인덱스를 사용하여 해당하는 항목을 메모리에서 삭제할 수 있다.

In [115]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
del bts[0] # 리스트의 첫 항목을 삭제하는 명령어
bts

['J-Hope', 'Suga', 'Jungkook']

## 7.9 리스트의 객체의 생성과 참조라는 깊이있는 개념

새로운 리스트를 만들면 파이썬은 컴퓨터 메모리에 리스트를 저장한 후에 리스트의 주소를 변수에 저장한다.

In [117]:
#alist가 리스트의 모든 원소를 가지고 있는 것이 아니라 리스트의 저장 위치를 가지고 있는 것이다
alist = ['Kim', 'Park', 'Lee', 'Hong']

하나의 리스트를 다른 리스트로 복사할 경우에 확실하게 나타난다.

In [118]:
blist = alist
blist[1] = 'Choi' # blist[1] 위치의 항목을 변경함
alist # blist를 수정하는 것은 alist와는 상과 없음

['Kim', 'Choi', 'Lee', 'Hong']

등호를 사용하여 리스트를 복사하면 실제 값 자체를 복사하지 않고, 리스트의 저장 위치만 복사된 것이다. 변수의 이름이 실제 존재하는 메모리 상의 객체를 가리키는 것을 참조라고 한다. 파이썬에서 변수의 이름은 모두 객체에 대한 참조로 이루어져 있다.

In [119]:
id(alist)

1494272899144

In [120]:
id(blist) # alist와 blist의 id값은 동일하게 나옴

1494272899144

## 7.10 리스트를 복제한 새로운 리스트 만들기

동일한 내용을 가지는 새로운 리스트를 생성하고 싶은 경우에는 등호를 사용하면 안되고, list() 함수를 사용해야 한다. list() 함수를 사용하면 원래 리스트의 복사본이 생성되며 복사본을 참조한다. 따라서 두 객체의 id는 다른 값을 가진다.

In [122]:
alist = ['Kim', 'Park', 'Lee', 'Hong']
blist = list(alist) # list()를 사용하면 복사본이 만들어짐

In [123]:
id(alist)

1494272844104

In [124]:
id(blist) # blist의 id는 alist와 다르다

1494273040520

리스트를 복사하는 경우 슬라이싱 표기법을 사용해도 된다. 이때는 복사본 리스트를 변경해도 원래의 리스트는 변경되지 않는다.

In [125]:
blist = alist[:]

In [126]:
id(alist)

1494272844104

In [127]:
id(blist) # blist의 id는 alist의 id와 다름

1494272898120

In [129]:
blist[0] = 'Song' # alist의 복사본 blist를 고쳤으므로 아무런 변화가 없다

In [130]:
alist

['Kim', 'Park', 'Lee', 'Hong']

In [131]:
blist

['Song', 'Park', 'Lee', 'Hong']

## 7.11 리스트를 탐색해보자

리스트에서 특정한 항목을 찾을 수 있다. 파이썬에서는 특정 항목이 리스트의 어떤 인덱스에 있는지 알려면 index()를 사용한다.

In [132]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
bts.index('Suga')

2

remove()와 마찬가지로 탐색하고자 하는 항목이 리스트에 없다면 오류가 발생한다. 따라서 탐색하기 전에 in 연산자를 이용하여 리스트 안에 항목이 있는지부터 확인하는 것이 안전하다.

In [133]:
if 'Suga' in bts:
    print(bts.index('Suga'))

2

In [134]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
for member in bts:
    print(member)

V
J-Hope
Suga
Jungkook

## 7.12 리스트를 크기에 따라 정렬해보자

리스트는 정렬할 수도 있다. 정렬이란 리스트 안의 항목들을 크기 순으로 나열하는 것이다. 정렬을 위해서는 리스트의 sort() 메소드를 사용하면 된다.

In [135]:
numbers = [9, 6, 7, 1, 8, 4, 5, 3, 2]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

기본정렬방식은 오름차순이다. 내림차순 정렬을 원하면 reverse 인자를 사용하면 된다.

In [136]:
numbers.sort(reverse=True) # 내림차순으로 정렬
print(numbers)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

리스트 안에 들어 있는 항목들이 문자열인 경우에는 사전 순서대로 정렬된다.

In [137]:
bts = ['V', 'J-Hope', 'Suga', 'Jungkook']
bts.sort()
print(bts)

['J-Hope', 'Jungkook', 'Suga', 'V']

sort() 메소드는 원래의 리스트의 내부 항목의 순서를 변경시키는 기능을 한다. 만일 정렬된 새로운 리스트가 필요하면 sorted() 함수를 사용해야 한다.

In [140]:
numbers = [9, 6, 7, 1, 8, 4, 5, 3, 2]
new_list = sorted(numbers)
print(new_list) # numbers 리스트를 항목의 크기 순으로 정렬

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
print(numbers) # sorted() 함수는 정렬한 결과를 반환하므로 원래 리스트에는 변화가 없음

[9, 6, 7, 1, 8, 4, 5, 3, 2]

리스트를 역순으로 정렬하고 싶으면 sorted()를 호출할 때 reverse=True를 사용한다.

In [143]:
numbers = [9, 6, 7, 1, 8, 4, 5, 3, 2]
new_list = sorted(numbers, reverse=True)
print(new_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 도전문제 7.4

In [144]:
sorted("FADEWAY")

['A', 'A', 'D', 'E', 'F', 'W', 'Y']

## LAB 7-4 오늘의 명언을 골라주는 기능을 만들자

In [148]:
import random

quotes = []
quotes.append("꿈을 지녀라. 그러면 어려운 현실을 이길 수 있다.")
quotes.append("분노는 바보들의 가슴속에서만 살아간다.")
quotes.append("고생 없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.")
quotes.append("사람은 사랑할 때 누구나 시인이 된다.")
quotes.append("시작이 반이다.")

print("##################################")
print("#          오늘의 명언           #")
print("##################################")
print("")
dailyQuote = random.choice(quotes)
print(dailyQuote)

##################################
#          오늘의 명언           #
##################################

시작이 반이다.

### 도전문제 7.5

In [11]:
import random

eval = []
eval.append("100 + 200")
eval.append("100 + 300")
eval.append("300 + 200")
eval.append("100 + 400")
eval.append("200 + 600")

print("##################################")
print("#          오늘의 연산           #")
print("##################################")
print("")
dailyeval = random.choice(eval)
print(dailyeval)
print(int(dailyeval[:3]) + int(dailyeval[-3:]))

##################################
#          오늘의 연산           #
##################################

100 + 200
300

## 7.13 리스트 함축은 코드를 짧고 간결하게 만드는데 사용된다

파이썬은 리스트 함축 기능을 지원한다. comprehension은 함축, 포한, 내포라는 의미를 가지는데 이는 수학자들이 집합을 정의하는 것과 유사하다.

In [150]:
[ x**2 for x in [1, 2, 3, 4, 5]] # 숫자 리스트에 대한 제곱으로 된 리스트

[1, 4, 9, 16, 25]

리스트 함축 표현을 사용하면 입력 리스트의 각 항목을 하나하나 방문하며 지정된 연산을 하고, 연산의 결과로 생성된 항목값을 가지는 리스트를 생성할 수 있다.

리스트 함축을 사용하지 않는다면 반복문을 사용해야 한다.

In [151]:
s = []
for x in [1, 2, 3, 4, 5]:
    s.append(x**2)

리스트 함축은 다양한 기능도 수행할 수 있다.

In [152]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [154]:
st = 'Hello world'
[x.upper() for x in st] # 문자열을 대문자로

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [156]:
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [s[0].upper() for s in a] # 첫 알파벳에 대한 대문자 변환
print(first_a)

['W', 'T', 'T', 'P', 'W']

## 7.14 조건이 붙는 리스트 함축 표현도 가능하다

리스트 함축에는 if를 사용하여 조건이 추가될 수 있다.

In [157]:
[x for x in range(10) if x%2 == 0]

[0, 2, 4, 6, 8]

In [158]:
[x**2 for x in range(10) if x%2 == 0]

[0, 4, 16, 36, 64]

리스트 함축은 숫자에 대해서만 적용되는 것은 아니며 문자열과 같이 여러 자료형에 대해서도 리스트 함축을 적용할 수 있다.

문자열이 숫자로만 이루어져 있는지를 isdigit() 메소드를 사용하여 검사할 수 있다.

In [159]:
s = ['Hello', '12345', 'world', '67890']
numbers = [x for x in s if x.isdigit()]
print(numbers)

['12345', '67890']

공백으로 구분된 여러 개의 정수를 한 줄에 입력하여 개별적인 정수값을 가진 리스트로 변환하는 것도 가능하다.

In [160]:
[int(x) for x in input("정수를 여러개 입력하세요 : ").split()]

정수를 여러개 입력하세요 : 100 200 300

[100, 200, 300]

In [161]:
[int(x) for x in input("정수를 여러개 입력하세요 : ").split() if x.isdigit()]

정수를 여러개 입력하세요 : 100 300 400

[100, 300, 400]

변수 x와 y를 사용하여서 다른 리스트의 항목을 가져와서 튜플로 새로운 리스트를 만들 수도 있다.

In [162]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [163]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## 7.15 한번 생성하면 그 값을 고칠 수 없는 자료형 : 튜플

파이썬의 데이터 형을 크게 분류하면 불변속성 데이터 형, 가변속성 데이터 형으로 나눌 수 있다. 튜플은 리스트와 유사하다. 하지만 튜플의 내용은 한 번 지정되면 변경 될 수 없어 대표적인 불변속성 자료형이다.

튜플을 한 번 그 내용이 정해지면 변경이 불가능하므로 구조가 단순하고 리스트에 비하여 접근 속도가 빠르다는 장점도 있다. 튜플 생성은 소괄호() 안에 항목들을 넣으면 된다.

In [165]:
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

다수의 정수를 저장하는 튜플도 생성할 수 있다.

In [166]:
numbers = (1, 2, 3, 4, 5)
numbers

(1, 2, 3, 4, 5)

튜플은 변경될 수 없는 객체이므로 튜플의 요소는 변경될 수 없다. 따라서 변경을 시도하면 에러를 출력한다.

In [167]:
t1 = (1, 2, 3, 4, 5)
t1[0] = 100 # 튜플은 변경할 수 없다

TypeError: 'tuple' object does not support item assignment

튜플도 시퀀스의 일종이기 때문에 인덱싱과 슬라이싱은 문자열이나 리스트와 동일하게 동작한다. 튜플간의 결합연산인 +와 반복연산자 *도 사용할 수 있다.

In [168]:
t1 = (1, 2, 3, 4, 5)
t1[0]

1

In [170]:
t1[1:4]

(2, 3, 4)

In [171]:
t2 = t1 + t1
t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## LAB 7-5 함수는 튜플을 돌려줄 수 있다

In [2]:
import math

def calCircle(r):
    area = math.pi * r * r
    circum = 2 * math.pi * r
    return area, circum

radius = float(input("원의 반지름을 입력하시오 : "))
(a, c) = calCircle(radius)
print("원의 넓이는 " + str(a) + "이고 원의 둘레는 " +  str(c) + "이다.")

원의 반지름을 입력하시오 : 10
원의 넓이는 314.1592653589793이고 원의 둘레는 62.83185307179586이다.

## LAB 7-6 도시의 이름과 인구를 튜플로 묶어보자

In [5]:
city_info = [('서울', 9765), ('부산', 3441), ('인천', 3954), ('광주', 1501), ('대전', 1531)]

In [6]:
max_pop = 0
min_pop = 99999999999999999999
total_pop = 0

max_city = None
min_city = None

for city in city_info:
    total_pop += city[1]
    if city[1] > max_pop:
        max_pop = city[1]
        max_city = city
    if city[1] < min_pop:
        min_pop = city[1]
        min_city = city

print("최대인구: {0}, 인구: {1} 천명".format(max_city[0], max_city[1]))
print("최소인구: {0}, 인구: {1} 천명".format(min_city[0], min_city[1]))
print("리스트 도시 평균 인구: {0} 천명".format(total_pop / len(city_info)))

최대인구: 서울, 인구: 9765 천명
최소인구: 광주, 인구: 1501 천명
리스트 도시 평균 인구: 4038.4 천명

## 7.16 클래스와 객체가 무엇인가

프로그램 코드가 복잡해지면 이를 관리하기가 쉽지 않다. 가장 뛰어난 해결책으로 인정 받고 있는 방법이 바로 객체지향 프로그래밍 방식이다. 객체지향 프로그래밍은 다양한 객체를 클래스로 미리 정의해두고 이 객체들이 프로그램 상에서 상호작용하면서 원하는 작업을 수행하는 문제해결 방식이다. 각각의 객체들은 클래스의 틀을 지키면서 서로 다른 실제 값을 담고 있다. 이런 객체를 인스턴스 객체라고 한다.

파이썬은 '객체지향 프로그래밍 언어'이다. 자료형, 함수, 모듈은 모두 객체이다.

In [7]:
animals = ['lion', 'tiger', 'cat', 'dog']
animals.sort() # animals 리스트의 문자열을 알파벳 순으로 정렬
animals

['cat', 'dog', 'lion', 'tiger']

In [8]:
animals.append('rabbit') # animals 리스트에 새 원소를 추가
animals

['cat', 'dog', 'lion', 'tiger', 'rabbit']

In [9]:
animals.reverse() # animals 리스트를 역순으로 재배열
animals

['rabbit', 'tiger', 'lion', 'dog', 'cat']

리스트라는 것은 여러 개의 데이터를 담을 수 있고 인덱스로 접근할 수 있는 어떤 데이터 자료 유형의 통칭이다. 이러한 특정한 자료 유형이 클래스라고 할 수 있다. 리스트 클래스에는 sort(), append(), remove(), reverse(), pop() 등의 풍부한 기능을 이미 구현해 두었는데 리스트 클래스에 속하는 모든 객체들이 이 기능을 사용할 수 있다.

특정한 클래스에 속한 객체들이 사용할 수 있는 함수들을 해당 클래스의 메소드라고 부른다. 객체 지향 언어는 리스트와 같은 클래스를 정의할 수 있고, 해당 클래스의 인스턴스 객체를 생성할 수 있으며, 이들이 메소드를 이용하여 다양한 일을 할 수 있도록 지원하는 언어를 의미한다.

### 핵심정리

- 리스트는 항목들을 모아둔 곳이다
- 리스트의 항목은 어떤 것이든 가능하다
- 공백 리스트를 만들고 append()를 호출하여서 코드로 항목을 추가할 수 있다
- 튜플은 변경불가능 자료형으로 리스트에 비하여 처리속도가 빠르지만 그 항목값을 수정할 수 없다
- 튜플을 사용하여 함수로부터 여러 개의 값을 반환 받을 수 있다
- 파이썬은 여러가지 종류의 클래스를 미리 만들어서 개발시에 사용할 수 있도록 제공하는 객체지향 프로그래밍 언어이다